/* ---------------------------- GENERAL ---------------------------- */

@font-face {
  font-family: "supplyregular";
  src: url("../font/supply-regular-webfont.woff2") format("woff2"),
    url("../font/supply-regular-webfont.woff") format("woff"),
    url("../font/supply-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --amarillo: #ffd300;
  --azul: #0000ff;
  --blanco: white;
  --rojo: #ff0000;
  --verde: #228b24;
  --violeta: #9b04db;
}

html {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

/* html {
      height: 100vh;
  } */

::selection {
  color: var(--blanco);
  background: var(--violeta);
}

body {
  cursor: none;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font-family: "supplyregular";
  justify-content: space-between;
  overflow-x: hidden;
  width: 100%;
}

#custom-cursor {
  display: none;
  pointer-events: none;
  position: fixed;
  z-index: 250;
  background-color: transparent;
  border-bottom: 10px solid transparent;
  border-radius: 0%;
  border-right: 20px solid var(--amarillo);
  border-top: 10px solid transparent;
  height: 0;
  transform: rotate(55deg);
  width: 0;
}

@media screen and (min-width: 480px) {
  #custom-cursor {
    display: block;
  }
}

header {
  background-color: var(--blanco);
  display: flex;
  justify-content: space-between;
  padding: 0.8em 0.5em;
  z-index: 1;
}

@media screen and (min-width: 480px) {
  header {
    padding: 0.8em 1.5em 0;
  }
}

footer {
  background-color: var(--blanco);
  bottom: 0;
  display: flex;
  justify-content: space-between;
  line-height: 1;
  padding: 0.8em 0.5em 0.8em;
  position: sticky;
  z-index: 4;
}

@media screen and (min-width: 480px) {
  footer {
    background-color: transparent;
    bottom: 0.8em;
    padding: 0 1.5em 0;
  }
}

.ingles {
  display: inline-block;
  position: relative;
}

.ingles::after {
  content: "";
  opacity: 0;
  transition: opacity 0.2s ease;
}

@media (hover: hover) {
  .ingles:hover::after {
    background: black;
    content: "";
    height: 100%;
    left: 0;
    opacity: 1;
    position: absolute;
    top: 0;
    transform: skew(15deg);
    width: 100%;
    z-index: -1;
  }

  .ingles:hover {
    color: var(--blanco);
  }

  .logo:hover,
  .rojo:hover,
  .azul:hover:not(.fotos) {
    color: var(--blanco);
  }

  .logo:hover::after {
    background-color: var(--verde);
    content: "";
    height: 100%;
    left: 0;
    opacity: 1;
    position: absolute;
    top: 0;
    transform: skew(-15deg);
    width: 100%;
    z-index: -1;
  }

  .rojo:hover {
    background-color: var(--rojo);
  }

  .azul:hover:not(.fotos) {
    background-color: var(--azul);
  }
}

a {
  color: inherit;
  text-decoration: none;
}

.logo {
  display: inline-block;
  position: relative;
}

.logo::after {
  content: "";
  opacity: 0;
  transition: opacity 0.2s ease;
}

#desktop {
  display: none;
}

@media screen and (min-width: 480px) {
  #desktop {
    display: block;
  }
  #mobile {
    display: none;
  }
}

.link {
  line-height: 1;
  padding: 0.6em 1em;
  transition: background-color 0.2s ease, color 0.2s ease;
  z-index: 200;
}

.azul {
  border-radius: 40px;
}

/* ---------------------------- HOME ---------------------------- */

.body-home {
  overflow: hidden;
}

.body-home header {
  z-index: 4;
}

@media screen and (min-width: 480px) {
  .body-home header {
    background-color: transparent;
  }
}

.video-wrapper {
  display: block;
  height: 87vh;
  overflow: hidden;
}

@media screen and (min-width: 480px) {
  .main-home .video-wrapper {
    display: none;
  }
}

.main-home video {
  pointer-events: none;
  display: block;

  height: 100%;
  width: 100%;
  object-fit: cover;

  /* max-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden; */
}

.body-home img {
  cursor: grab;
}

.landscape {
  height: auto;
  max-width: 18vw;
}

.portrait {
  max-height: 18vw;
  width: auto;
}

.tiembla:hover {
  animation: tiembla 0.5s ease-out 0s 1 normal forwards;
}

.main-home {
  display: block;
  flex-grow: 2;
  margin: 0 1.5em;
}

@media screen and (min-width: 480px) {
  .main-home {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    margin: 10px;
    max-height: 100%;
  }
}

.home-photo {
  display: none;
}

@media screen and (min-width: 480px) {
  .home-photo {
    display: block;
  }
}

/* .home-photo img {
  border-radius: 10px;
} */

.home-photo:nth-child(1) {
  align-self: center;
  justify-self: center;
  grid-column: 1/3;
  grid-row: 1/3;
}

.home-photo:nth-child(2) {
  align-self: start;
  justify-self: center;
  grid-column: 3/5;
  grid-row: 2/4;
}

.home-photo:nth-child(3) {
  align-self: start;
  justify-self: start;
  grid-column: 5/7;
  grid-row: 1/3;
}

.home-photo:nth-child(4) {
  align-self: start;
  justify-self: end;
  grid-column: 1/3;
  grid-row: 3/5;
}

.home-photo:nth-child(5) {
  align-self: center;
  justify-self: center;
  grid-column: 5/7;
  grid-row: 3/5;
}

/* ---------------------------- FOTOS ---------------------------- */

.fotos {
  color: var(--azul);
}

.main-fotos {
  display: flex;
  flex-grow: 2;
  justify-content: center;
  padding: 2.5em 0;
}

@media screen and (min-width: 480px) {
  .main-fotos {
    padding: 0;
  }
}

.tags {
  background-color: var(--blanco);
  border-radius: 40px;
  border: 2px solid black;
}

.accordion {
  line-height: 1em;
  padding: 1em 2em;
}

@media (hover: hover) and (pointer: fine) { 
.tags:hover {
  box-shadow: 5px 5px black;
}
}

.sombra {
  box-shadow: 5px 5px black;
}

.active {
  padding-bottom: 2em;
  margin: 0 3em;
  transition: margin 250ms ease-out;
}

@media screen and (min-width: 480px) {
  .active {
    margin: 0 5em;
  }
}

.accordion::before {
  background: url(../images/filter-icon.svg) center no-repeat;
  background-size: 1em;
  content: "";
  display: inline-block;
  height: 1em;
  padding-right: 1.3em;
  vertical-align: middle;
  width: 1em;
}

.filters-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  max-height: 0;
  overflow: hidden;
  padding: 0;
  text-align: center;
}

.filters-list li {
  padding: 0.5em 0;
}

.abierto {
  max-height: 1000px;
  padding-bottom: 1em;
  transition: max-height 1s ease-out;
}

.filters-nav {
  background-color: transparent;
  justify-content: center;
  padding-top: 1em;
  position: absolute;
  z-index: 7;
}

.fixed-nav .filters-nav {
  position: fixed;
  padding: 0;
  top: 1em;
}

@media screen and (min-width: 480px) {
  .fixed-nav .filters-nav {
    width: auto;
  }
}

.filter {
  margin: 0;
  padding: 0.7em 0;
}

@media screen and (min-width: 480px) {
  .filter {
    border-radius: 40px;
    cursor: pointer;
    margin: 0.2em 0;
    padding: 0.6em 1em;
    transition: background-color 0.1s ease, color 0.1s ease;
  }
}

.filter:hover:not(.current) {
  background-color: var(--violeta);
  color: var(--blanco);
}

.filter:focus-visible {
  outline: 2px solid var(--violeta);
}

#overlay {
  animation: fade-in 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) 0.1s both;
  background: rgba(0, 0, 0, 0.6);
  bottom: 0;
  display: block;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 5;
  /* animation: fade-in 1s ease-in 1s; */
  /* opacity: 1;
  transition: opacity 2s ease-in-out; */
}

#overlay .hidden {
  display: none;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  padding: 7px;
}

.current {
  color: var(--violeta);
}

.grilla-fotos {
  display: grid;
  align-content: start;
  align-items: center;
  column-gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(min(12rem, 100%), 1fr));
  justify-items: center;
  padding: 6em 1.5em;
  row-gap: 2rem;
  width: 100%;
  -webkit-animation: fade-in 1.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 1.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@media screen and (min-width: 480px) {
  .grilla-fotos {
    padding: 8em 10em;
  }
}

.foto {
  display: flex;
  align-items: center;
  justify-content: center;
}

.foto img {
  cursor: zoom-in;
  height: auto;
  max-height: 20em;
  max-width: 100%;
}

@media screen and (min-width: 480px) {
  .foto img {
    max-height: 12em;
  }
}

/* ---------------------------- CAROUSEL ---------------------------- */

.flecha {
  display: none;
  pointer-events: none;
  position: absolute;
  z-index: 250;
}

.flecha img {
  height: 0;
}

@media screen and (min-width: 480px) {
  .flecha img {
    height: 1.3rem;
  }
}

.shrug {
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2em;
  padding: 20px 0;
  position: fixed;
  text-align: center;
  z-index: 300;
}

#carousel-window {
  background-color: var(--blanco);
  display: none;
  height: 100%;
  inset: 0;
  opacity: 0;
  position: fixed;
  width: auto;
  z-index: 210;
}

#carousel {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
  width: auto;
}

#carousel button {
  font-size: 3rem;
  padding: 2rem;
}

.slide-wrapper {
  align-items: center;
  display: flex;
  height: 80%;
}

.slide-wrapper img {
  max-height: 100%;
  max-width: 100%;
}

#carousel-close {
  background: url(../images/close-carousel.svg) center no-repeat;
  background-size: 1.3rem;
  cursor: pointer;
  height: 1.3rem;
  margin: 0.5em;
  padding: 1rem;
  position: absolute;
  right: 0;
  top: 0;
  transition: transform 1.2s cubic-bezier(0.19, 1, 0.22, 1);
  width: 2rem;
  z-index: 5;
}

@media screen and (min-width: 480px) {
  #carousel-close {
    margin: 1rem;
  }
}

.carousel-navigation {
  color: var(--azul);
}

/* ---------------------------- INFO ---------------------------- */

.main-info {
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  flex-grow: 2;
  gap: 1em;
  margin: 0 1.5em 2em;
  padding: 0;
}

@media screen and (min-width: 480px) {
  .main-info {
    display: grid;
    align-items: center;
    column-gap: 2rem;
    grid-template-columns: 2fr 2fr;
    margin: 1em 2.5em;
  }
}

#bio {
  text-align: left;
  order: 2;
}

#bio a:hover {
  text-decoration: underline 2px;
  text-underline-offset: 5px;
}

#mail {
  color: var(--verde);
}

#ig {
  color: var(--violeta);
}

.foto-bio {
  display: flex;
  justify-content: center;
  order: 1;
}

@media screen and (min-width: 480px) {
  .foto-bio {
    order: 3;
  }
}

.main-info img {
  max-width: 100%;
}

@media screen and (min-width: 480px) {
  .main-info img {
    max-width: 60%;
  }
}

.fade-in {
  -webkit-animation: fade-in 0.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 0.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.fade-out {
  -webkit-animation: fade-out 0.2s ease-out both;
  animation: fade-out 0.2s ease-out both;
}

/* ---------------------------- ANIMACIONES ---------------------------- */

@keyframes tiembla {
  0%,
  100% {
    transform: rotate(0deg);
  }

  25%,
  75% {
    transform: rotate(-2deg);
  }

  50% {
    transform: rotate(2deg);
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
