/* ROBOTO MONO X AHORA NO
  @import url(https://fonts.bunny.net/css?family=roboto-mono:400);
  @import url(https://fonts.bunny.net/css?family=roboto-mono:400,400i); */

@font-face {
  font-family: "supplyregular";
  src: url("../font/supply-regular-webfont.woff2") format("woff2"),
    url("../font/supply-regular-webfont.woff") format("woff"),
    url("../font/supply-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* html {
      height: 100vh;
  } */

:root {
  --amarillo: #ffd300;
  --azul: #0000ff;
  --blanco: white;
  --rojo: #ff0000;
  --verde: #228b24;
  --violeta: #9b04db;
}

html {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  max-width: 100vw;
}

::selection {
  color: var(--blanco);
  background: var(--violeta);
}

body {
  /* font-family: "Roboto Mono", monospace; */
  cursor: none;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font-family: "supplyregular";
  justify-content: space-between;
  margin: 0.8em 0;
  overflow-x: hidden;
}

.body-home {
  overflow: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 0 1em;
}

footer {
  align-self: flex-start;
  bottom: 1.6em;
  line-height: 1;
  margin: 0 1em 0.8em;
  position: sticky;
  z-index: 200;
}

/* .main-home #main-cursor {
    background-color: var(--rojo);
  } */

#main-cursor,
#follow-cursor {
  background-color: var(--rojo);
  z-index: 250;
  pointer-events: none;
  position: absolute;
  border-radius: 50%;
}

#main-cursor {
  height: 7px;
  width: 7px;
}

.flecha {
  z-index: 250;
  pointer-events: none;
  position: absolute;
  color: var(--azul);
  font-size: 3rem;
  display: none;
}

#follow-cursor {
  transition: all 1.5s cubic-bezier(0.19, 1, 0.22, 1), opacity 0.4s ease-in-out;
}

#follow-cursor:not(.main-catalogo) {
  height: 20px;
  width: 20px;
}

.main-catalogo #main-cursor {
  background-color: transparent;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-right: 20px solid var(--amarillo);
  border-bottom: 10px solid transparent;
  transform: rotate(55deg);
  border-radius: 0%;
  transition: opacity 0.2s ease-in-out;
}

.main-catalogo #follow-cursor {
  /* background-color: var(--amarillo); */
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.logo {
  display: inline-block;
  position: relative;
}

.logo:hover,
.rojo:hover,
.azul:hover:not(.catalogo) {
  color: var(--blanco);
}

.logo::after {
  content: "";
  transition: opacity 0.2s ease;
  opacity: 0;
}

.logo:hover::after {
  background-color: var(--verde);
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transform: skew(-9deg);
  opacity: 1;
}

.link {
  line-height: 1;
  padding: 0.6em 1em;
  z-index: 200;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.rojo:hover {
  background-color: var(--rojo);
}

.azul {
  /* border-radius: 40px; */
  border-radius: 3em;
}

.azul:hover:not(.catalogo) {
  background-color: var(--azul);
}

.catalogo {
  color: var(--azul);
}

/* .draggable {
    margin: 0 auto;
    z-index: 2;
  } */

.body-home img {
  cursor: grab;
  max-height: 15em;
  max-width: 15em;
}

.tiembla:hover {
  animation: tiembla 2s ease 0s 1 normal forwards;
}

main:not(.main-catalogo) {
  margin: 1em 2em;
  padding: 0;
}

.main-home {
  flex-grow: 2;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-rows: 1fr 1fr;
  gap: 1em;
}

.home-photo:nth-child(1) {
  grid-column: 1/3;
  justify-self: center;
  align-self: center;
}

.home-photo:nth-child(2) {
  justify-self: baseline;
  align-self: baseline;
}

.home-photo:nth-child(3) {
  align-self: center;
  justify-self: end;
}

.home-photo:nth-child(4) {
  justify-self: end;
  align-self: baseline;
}

.home-photo:nth-child(5) {
  justify-self: end;
  align-self: center;
}

.main-catalogo {
  padding: 2.5em 0;
  flex-grow: 2;
}

.filters-list {
  display: flex;
  justify-content: center;
  column-gap: 1rem;
  list-style-type: none;
  margin: 0;
  padding: 1em 0;
}

.filters-nav {
  width: 100%;
  z-index: 205;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  padding: 0 1em;
  align-items: center;
  transition: box-shadow 0.3s ease;
}

.fixed-nav .filters-nav {
  position: fixed;
  box-shadow: 0 1px rgba(0, 0, 0, 0.1);
  background-color: var(--blanco);
  top: 0px;
}

.filters-nav .logo-wrapper {
  opacity: 0;
}

.fixed-nav .filters-nav .logo-wrapper {
  opacity: 1;
  transition: all 0.1s ease-in;
}

.filter {
  padding: 0.6em 1em;
  cursor: none;
  transition: background-color 0.2s ease, color 0.2s ease;
  border-radius: 40px;
}

.filter:hover:not(.current) {
  background-color: var(--violeta);
  color: var(--blanco);
}

.filter:focus-visible {
  outline: 2px solid var(--violeta);
}

button {
  border: 0;
  padding: 7px;
  background-color: transparent;
  cursor: pointer;
}

.current {
  color: var(--violeta);
}

.grilla-fotos {
  padding: 4em 8em;
  display: grid;
  column-gap: 2rem;
  row-gap: 2rem;
  align-items: center;
  justify-items: center;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fill, minmax(min(10rem, 100%), 1fr));
  -webkit-animation: fade-in 1.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 1.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.foto {
  display: flex;
  justify-content: center;
  align-items: center;
}

.foto img {
  max-width: 100%;
  height: auto;
  max-height: 10em;
  cursor: zoom-in;
}

.tooltip {
  background: var(--blanco);
  border-radius: 4px;
  border: 1px solid black;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  /* color: #333; */
  color: black;
  font-size: 12px;
  font-style: italic;
  padding: 10px 20px;
  position: fixed;
  text-align: center;
  z-index: 300;
}

#carousel-window {
  background-color: var(--blanco);
  display: none;
  opacity: 0;
  height: 100%;
  inset: 0;
  position: fixed;
  z-index: 210;
  width: auto;
}

#carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: 3rem; */
  height: 100%;
  width: auto;
}

#carousel button {
  font-size: 3rem;
  padding: 2rem;
}

.slide-wrapper {
  display: flex;
  height: 100%;
  align-items: center;
}

.slide-wrapper img {
  height: auto;
  max-height: 80%;
  max-width: 100%;
}

#carousel-close {
  background: url(../close-carousel.svg) center no-repeat;
  background-size: 2rem;
  cursor: pointer;
  height: 2rem;
  padding: 2rem;
  position: absolute;
  right: 0;
  top: 0;
  transition: transform 1.2s cubic-bezier(0.19, 1, 0.22, 1);
  width: 2rem;
  z-index: 5;
}

/* #carousel-close:hover {
  transform: rotate(-90deg);
} */

/* .carousel-navigation:hover {
    -webkit-animation: pulsate-fwd 0.7s ease-in-out infinite both;
    animation: pulsate-fwd 0.7s ease-in-out infinite both;
  } */
/* 
  .carousel-navigation {
    transform: rotate(90deg);
    color: var(--azul);
  }

  [data-direction="previous"] {
    transform: rotate(-90deg);
  } */

.fade-in {
  -webkit-animation: fade-in 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.fade-out {
  -webkit-animation: fade-out 0.4s ease-out both;
  animation: fade-out 0.4s ease-out both;
}

.main-info {
  display: grid;
  align-items: center;
  column-gap: 2rem;
  flex-grow: 2;
  grid-template-columns: 1fr 1fr;
  padding: 0 16px;
}

.foto-bio {
  display: flex;
  justify-content: center;
}

.main-info img {
  height: auto;
  max-width: 60%;
}

#mail {
  color: var(--verde);
}

#ig {
  color: var(--violeta);
}

@keyframes tiembla {
  0%,
  100% {
    transform: rotate(0deg);
    transform-origin: 50% 50%;
  }

  10% {
    transform: rotate(2deg);
  }

  20%,
  40%,
  60% {
    transform: rotate(-3deg);
  }

  30%,
  50%,
  70% {
    transform: rotate(3deg);
  }

  80% {
    transform: rotate(-2deg);
  }

  90% {
    transform: rotate(2deg);
  }
}

/* ----------------------------------------------
  * Generated by Animista on 2022-7-17 22:2:23
  * Licensed under FreeBSD License.
  * See http://animista.net/license for more info. 
  * w: http://animista.net, t: @cssanimista
  * ---------------------------------------------- */

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
